<?xml version="1.0"?>
<!--
@author Pengo Stores
@category Pengo
@package Pengo_Banorte
-->
<config>
    <modules>
        <Pengo_Taquilla>
            <version>0.1.1</version>
        </Pengo_Taquilla>
    </modules>
    <global>
        <models>
            <taquilla>
                <class>Pengo_Taquilla_Model</class>
            </taquilla>
        </models>
        <blocks>
            <taquilla>
                <class>Pengo_Taquilla_Block</class>
            </taquilla>
        </blocks>
        <helpers>
            <taquilla>
                <class>Pengo_Taquilla_Helper</class>
            </taquilla>
            <checkout>
                <rewrite>
                    <data>Pengo_Taquilla_Helper_Checkout</data>
                </rewrite>
            </checkout>
            <payment>
                <rewrite>
                    <data>Pengo_Taquilla_Helper_Payment</data>
                </rewrite>
            </payment>
        </helpers>
        <resources>
            <taquilla_setup>
                <setup>
                    <module>Pengo_Taquilla</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </taquilla_setup>
            <taquilla_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </taquilla_write>
            <taquilla_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </taquilla_read>
        </resources>
    </global>
    <default>
        <pengostores>
            <taquilla>
                <active>1</active>
                <model>taquilla/method_payment</model>
                <order_status>pending</order_status>
                <title>Ticket Payment</title>
                <allowspecific>0</allowspecific>
            </taquilla>
         </pengostores>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Pengo_Taquilla>
                    <files>
                        <default>Pengo_Taquilla.csv</default>
                    </files>
                </Pengo_Taquilla>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pengostores>
                                            <title>Pengo Stores - Ticket Office</title>
                                        </pengostores>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <taquilla>
                <use>standard</use>
                <args>
                    <module>Pengo_Taquilla</module>
                    <frontName>taquilla</frontName>
                </args>
            </taquilla>
        </routers>
        <translate>
            <modules>
                <Pengo_Taquilla>
                    <files>
                        <default>Pengo_Taquilla.csv</default>
                    </files>
                </Pengo_Taquilla>
            </modules>
        </translate>
        <layout>
            <update>
                <taquilla>
                    <file>taquilla.xml</file>
                </taquilla>
            </update>
        </layout>
    </frontend>
    <admin>
        <routers>
            <taquilla>
                <use>admin</use>
                <args>
                    <module>Pengo_Taquilla</module>
                    <frontName>taquilla</frontName>
                </args>
            </taquilla>
        </routers>
    </admin>
</config>
